
@font-face {
    font-family: "TT Lakes Neue Trial";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes Neue Trial"),url("https://db.onlinewebfonts.com/t/021f5d52a44a2b0c7da9cd8145d2bf89.ttf")format("truetype");

}

.button3333 {
    -fx-opacity: 0.8;
    transition-property: -fx-opacity;
    transition-duration: 0.5s;
}

.button3333:hover {
    -fx-opacity: 1;
}


.welcome_label{
    -fx-font-family: "Bahij Janna";
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.button_custom {
    transition-property: -fx-background-color;
    transition-duration: 0.5s;
    -fx-text-fill: white;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size:16;
    -fx-background-radius: 15;
    -fx-background-color: #383838;
}
.button_custom:hover {
    -fx-text-fill: white;
    -fx-background-color: #7E60BF;
}
.vbox {
    -fx-background-color: black;
}
.button_custom_W{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size:16;
    -fx-font-family: "Bahij Janna";
    -fx-background-radius: 30;
    -fx-border-radius:30;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.button_custom_W:hover{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-color: white;
}

.text-field_B {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-family: Cairo;
    -fx-background-radius: 10;
    -fx-background-color: #383838;
}
.text-field_B:focused{
    -fx-border-color: #9332D8;
    -fx-border-radius:10;
    -fx-border-width: 1;
}

.label_login {
    -fx-text-fill: White;
    -fx-font-family: "Poppins";
    -fx-font-size: 20;
}

.combo-box{
    -fx-background-color:black;
    -fx-background-radius: 30;
}
.combo-box .list-view {
    -fx-background-color:black;
    -fx-background-radius: 10;
}
.combo-box .list-cell{
    -fx-background-color: transparent;
    -fx-font-family: "Trebuchet MS",sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.combo-box .list-cell:selected:filled {
    -fx-text-fill: white;
    -fx-font-size: 15;
}
.combo-box .list-cell:hover{
    -fx-background-radius: 10;
    -fx-background-color: gray;
}
.combo-box .arrow-button .arrow{
    -fx-background-color: white;
}

.butto_222 {
    -fx-opacity: 0.7;
    transition-property: -fx-opacity;
    transition-duration: 0.5s;
    -fx-text-fill: white;
    -fx-font-family: "Poppins";
    -fx-background-color: transparent;
    -fx-font-size: 20;

}
.butto_222:hover{
    -fx-opacity: 1;
    -fx-font-weight: bold;
}
.butto_222_B {
    -fx-opacity: 0.7;
    transition-property: -fx-opacity;
    transition-duration: 0.5s;
    -fx-text-fill: black;
    -fx-font-family: "Monaco";
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-font-size: 24;

}
.butto_222_B:hover{
    -fx-opacity: 1;
    -fx-font-size: 25;
}



.redlabel {
    -fx-text-fill: #C25557;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.label_PROFILE {
    -fx-font-size: 18;
    -fx-text-fill: black;
    -fx-font-family: "Bahij Janna";
    -fx-font-weight: bold;

}
